*{
    box-sizing: border-box;
}



body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f4f2f2;
}

header{
    display: flex;
    align-items:  center;
    margin-bottom: 100px;
    background-color: white;
  
}
main{
    height: calc(100vh - 90px);
    overflow: hidden;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 24px;
    padding: 2.5%;
    height: 100%;
    overflow-y: auto;
}
.card-container .card:nth-child(even) .card-image img{
    background-color: #b6b6fb;

}
.card-container .card:nth-child(odd) .card-image img{
    background-color: #f6d6d6;

}
.card-container .card:nth-child(3n) .card-image img{
    background-color: #ffff86;

}

.wrapper{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}


/* header */
header div:nth-child(2){
    padding: 1rem;
}
header div:nth-child(2) p, header div:nth-child(2) h1{
    margin: 0;
}
.header-icon{
    padding: 8px;
    background-color: rgb(107, 107, 198);
    border-radius: 10px;
}
.header-icon img{
    width: 40px;
    height: 40px;
}

/* card */
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    position: relative;
    transition: transform  0.5s ease-in-out;
}
.card:hover{
    transform: scale(0.97);
    
    
}

.card-icon{
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.card-icon:hover{
    cursor: pointer;
}
.seperator{
    border: solid 1px #b1b1f8;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
}
.card-image img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:solid 4px #FCEFEF;
}
.card-body h2, .card-body p{
    margin-bottom: 3px;
    margin-top: 0px;
}
.card-body h2{
    font-size:20px;
}
.card-body p:nth-of-type(2){
    color: #939393;
    font-size: 12px;
    margin-top: 20px;
}
.card-body .role{
    font-size: 14px !important;
    font-weight: 600;
    color: #6767c5;
}
.card-body p{
    font-size:  16px;

}

.card-social{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 10px;
}
.card-social a{
    padding: 10px;
    border-radius: 8px;
    border: solid 1px lightgray;
    width: 40px;
    height: 40px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}
.card-social a:hover{
    border: solid 1px #b1b1f8;
}
.card-social a img{
    width:20px;
    height: 20px;
}



@media (max-width:875px) {
    .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr)  ;
    gap: 8px;
    }
    
}

@media (max-width:630px) {
    .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
    }
    
}
@media (max-width:430px) {
    .card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    }
    
}